extends layout
block content
  .heading-section
    if user && user.id === folder.ownerId
      h2
        a(href='/') Your space
        |
        | / #{folder.name}
      div
        button.secondary-button.edit-folder-button
          include ./icons/edit.pug
          +editIcon("1.5em")
          span Edit
        button.secondary-button.delete-folder-button
          include ./icons/delete.pug
          +deleteIcon('1.5em')
          span Delete
        button.secondary-button.share-folder-button
          include ./icons/share.pug
          +shareIcon('1.5em')
          span Share
    else 
      h2 Shared folders / #{folder.name}
  .folder-content
    if locals.shareUrl
      .share-message
        span Here’s your new link to share the folder:
        br
        a(href=`http://localhost:3000/${shareUrl}`) http://localhost:3000/#{shareUrl}
    .folder-files
      if files
        each file in files
          include item_preview.pug
          +itemPreview({name: file.name, icon: 'file', redirects: true, url: `${share ? `/share/${share.id}` : ''}/file/${file.id}` })

block append modals
  if user && user.id === folder.ownerId
    include folder_form.pug
    include modal_form.pug
    include delete_modal.pug
    -
      let folderEditFormArgs = {
        name: 'folder-update-form',
        action: `/folder/${folder.id}/update`,
        title: 'Edit folder',
        values: 
          {
            name: values ? values.name : folder.name, 
          },
        errors: folderEditErrors ? folderEditErrors : null, 
        serverError: folderEditFormError ? folderEditFormError : false
      }
    -
      let folderShareFormArgs = {
          name: 'folder-share-form',
          action: `/folder/${folder.id}/share`,
          enctype: 'application/x-www-form-urlencoded',
          title: 'Share this folder',
          formInputs: [
            {type: 'select', 
            options: 
              [
                {id: '12h', name: '12 hours' },
                {id: '1d', name: '1 day' },
                {id: '3d', name: '3 days' },
                {id: '1w', name: '1 week'}
              ], 
            name: 'duration',
            label: 'How long?'}
          ],
          errors: folderShareErrors ? folderShareErrors : null, 
          serverError: folderShareFormError ? folderShareFormError : false,
          values: values ? values.duration : ''
      }
    -
      let deleteFolderFormArgs = {
        name: 'folder-delete-form',
        action: `/folder/${folder.id}/delete`,
        title: 'Delete folder',
        description: 'Are you sure you want to delete this folder? all the files within the folder are going to be deleted'
      }
    +folderForm(folderEditFormArgs)
    +modalForm(folderShareFormArgs)
    +deleteModal(deleteFolderFormArgs)

block append styles
  link(rel='stylesheet', href='/styles/folder.css')

block append scripts
  script.
    if (`#{user.id}` === `#{folder.ownerId}`) {
      const isFolderEditFormOpen = `#{formOpen}` === 'folder_update';
      const isFolderShareFormOpen = `#{formOpen}` === 'folder_share';
      const isFolderDeleteFormOpen = `#{formOpen}` === 'folder_delete';

      const folderEditForm = document.querySelector('.folder-update-form').parentElement.parentElement;
      const folderShareForm = document.querySelector('.folder-share-form').parentElement.parentElement;
      const folderDeleteForm = document.querySelector('.folder-delete-form').parentElement.parentElement;

      folderEditForm.style.display = isFolderEditFormOpen ? 'block' : 'none';
      folderShareForm.style.display = isFolderShareFormOpen ? 'block' : 'none';
      folderDeleteForm.style.display = isFolderDeleteFormOpen ? 'block' : 'none';

      document.querySelector('.edit-folder-button').addEventListener('click', () => {
        folderEditForm.querySelector('form').reset();
        folderEditForm.style.display = 'block';
      });
      document.querySelector('.share-folder-button').addEventListener('click', () => {
        folderShareForm.querySelector('form').reset();
        folderShareForm.style.display = 'block';
      });
      document.querySelector('.delete-folder-button').addEventListener('click', () => {
        folderDeleteForm.querySelector('form').reset();
        folderDeleteForm.style.display = 'block';
      });
    }
