<% if(locals.type === 'password')  {%>
<%- include('password_input.ejs') %>
<% } else { %>
<div class="input-container <%= locals.error ? 'error' : '' %>">
  <% if(locals.type === 'file') { %>
  <label class="input" for="<%= locals.name %>"><%= locals.label %></label>
  <% } %>
  <input
    class="input"
    placeholder="<%- locals.label %>"
    type="<%- locals.type %>"
    name="<%- locals.name %>"
    id="<%- locals.name %>"
    value="<%= locals.value ? value : '' %>"
  />
  <% if(locals.error) { %>
  <%- include('error_label.ejs', {message: locals.error}) %>
  <% } %>
</div>
<% } %>
<script>
  (function () {
    const input = document.querySelector('#<%= locals.name %>');
    let inputParent = input.parentElement;
    //password inputs have an additional wrapper
    if ('<%=locals.type%>' === 'password') inputParent = inputParent.parentElement;
    input.addEventListener('focus', () => {
      if (inputParent.classList.contains('error')) {
        inputParent.classList.remove('error');
      }
      const errorLabel = inputParent.querySelector('.error-label');
      if (inputParent.contains(errorLabel)) {
        inputParent.removeChild(errorLabel);
      }
    });

    if ('<%=locals.type%>' === 'file') {
      input.addEventListener('change', e => {
        if (e.target.files && e.target.files[0]) {
          const label = input.labels[0];
          label.textContent = e.target.files[0].name;
        }
      });
    }
  })();
</script>
