<link rel="stylesheet" href="/styles/navbar.css">
<nav>
  <div class="menu-button-container">
    <button class="expand-button"><%- include('./icons/menu.ejs', {size: '100%'})%></button>
  </div>
  <div class="actions-section">
    <button class="secondary-button show-file-form-button">
      <%- include('./icons/file_upload.ejs', {size: '1.5em'}) %>
      <span>Upload file</span>
    </button>
    <button class="secondary-button show-folder-form-button">
      <%- include('./icons/folder_create.ejs', {size: '1.5em'}) %>
      <span>Add folder</span>
    </button>
  </div>
  <section class="items-section">
    <h2>Your space</h2>
    <div>
      <ul class="items-list">
        <% folders.forEach(folder => { %>
        <a href="/folder/<%= folder.id %>">
          <li
            class="<%= locals.selectedFolder && selectedFolder === folder.id ? 'selected' : '' %>"
          >
            <%- include('./icons/folder.ejs', {size: '1.75em'}) %>
            <span><%= folder.name %></span>
          </li>
        </a>
        <% }) %>
        <% rootFiles.forEach(file => { %>
          <a href="/file/<%= file.id %>">
            <li 
              class="<%= locals.selectedFile && selectedFile === file.id ? 'selected' : '' %>"
            >
              <%- include('./icons/file.ejs', {size: '1.75em'}) %>
              <span><%= file.name %></span>
            </li>
          </a>
        <% }) %>
      </ul>
    </div>
  </section>
  <section class="storage-section">
    <h2>Storage</h2>
    <div class="storage-bar-container">
      <% if(user.usedSpaceFormatted) { %>
        <span><%=user.usedSpaceFormatted %> of 50MB used</span>
        <div class="storage-space-bar"></div>
        <% } %>
    </div>
  </section>
</nav>

<script>
  const storageBar = document.querySelector('.storage-space-bar');
  const usedPercentage = ( Number("<%= locals.user.usedSpace %>") * 100) / 52428800;
  storageBar.style.background = `linear-gradient(to right, #A09EFF ${usedPercentage}%, #1C1C25 ${usedPercentage}%)`
</script>
