mixin passwordInput({name, label, value, error})
  div(class=`input-container password-container ${ error ? 'error' : ''}`)
    .input-wrapper
      input.input(placeholder=label, type='password', name=name, id=name, value=value)
      button.toggle-password-button(type='button')
        include ./icons/open_eye.pug
        include ./icons/closed_eye.pug
        +openEyeIcon
        +closedEyeIcon
    if error
      include error_label.pug
      +errorLabel(error)
  script.
    (function () {
      const name = '#{name}';
      const button = document.querySelector(`#${name}`).nextElementSibling;

      const closedEye = button.querySelector('.closed-eye');
      const openEye = button.querySelector('.open-eye');
      openEye.style.display = 'none';
      button.addEventListener('click', event => {
        const passwordInput = document.querySelector(`#${name}`);
        event.preventDefault();
        if (passwordInput.type === 'password') passwordInput.type = 'text';
        else passwordInput.type = 'password';
        passwordInput.focus();

        if (openEye.style.display === 'none') {
          openEye.style.display = 'block';
          closedEye.style.display = 'none';
        } else {
          openEye.style.display = 'none';
          closedEye.style.display = 'block';
        }
      });
    })();
