<div class="input-container password-container <%= locals.error ? 'error' : '' %>">
  <div class="input-wrapper">
    <input
      class="input"
      placeholder="<%- locals.label %>"
      type="<%- locals.type %>"
      name="<%- locals.name %>"
      id="<%- locals.name %>"
      value="<%= locals.value ? value : '' %>"
    />
    <button type="button" class="toggle-password-button">
      <%- include('./icons/open_eye.ejs') %> <%- include('./icons/closed_eye.ejs') %>
    </button>
  </div>
  <% if(locals.error) { %>
  <%- include('error_label.ejs', {message: locals.error}) %>
  <% } %>
</div>
<script>
  (function () {
    const button = document.querySelector(`#<%= locals.name %>`).nextElementSibling;

    const closedEye = button.querySelector('.closed-eye');
    const openEye = button.querySelector('.open-eye');
    openEye.style.display = 'none';
    button.addEventListener('click', event => {
      const passwordInput = document.querySelector('#<%= locals.name %>');
      event.preventDefault();
      if (passwordInput.type === 'password') passwordInput.type = 'text';
      else passwordInput.type = 'password';
      passwordInput.focus();

      if (openEye.style.display === 'none') {
        openEye.style.display = 'block';
        closedEye.style.display = 'none';
      } else {
        openEye.style.display = 'none';
        closedEye.style.display = 'block';
      }
    });
  })();
</script>
