<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/authscreen.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <div class="auth-screen-background form-background">
      <div class="form-card-wrapper">
        <% if(locals.serverError) { %>
        <%- include('error_label.ejs', {message: 'An unexpected error happened during the signup'}) %>
        <% } %>
        <div class="form-card <%=locals.serverError ? 'error' : ''%>">
          <h2>Sign up to start uploading files</h2>
          <form action="/signup" method="POST">
            <fieldset>
              <%- include('form_input.ejs',
              {
                value: locals.values && values.name ? values.name : '',
                error: locals.errors && errors.name ? errors.name.msg : '',
                type: 'text',
                name: 'name',
                label: 'Name'
              }) %>
              <%- include('form_input.ejs',
              {
                value: locals.values && values.email ? values.email : '',
                error: locals.errors && errors.email ? errors.email.msg : '',
                type: 'text',
                name: 'email',
                label: 'Email'
              }) %>
              <%- include('form_input.ejs',
              {
                value: locals.values && values.password ? values.password : '',
                error: locals.errors && errors.password ? errors.password.msg : '',
                type: 'password',
                name: 'password',
                label: 'Password'
              }) %>
              <%- include('form_input.ejs',
              {
                value: locals.values && values.passwordConfirm ? values.passwordConfirm : '',
                error: locals.errors && errors.passwordConfirm ? errors.passwordConfirm.msg : '',
                type: 'password',
                name: 'passwordConfirm',
                label: 'Confirm password'
              }) %>
            </fieldset>
            <button class="main-button">Send</button>
          </form>
          <span>Already have an account? <a href="/login">Log in</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
